node_modules

.DS_Store
.DS_STORE
.cache
temp
.temp
.env
*.local
.env.production
updates
tests/unit/coverage
dist*
!resources/assets/fonts/Satoshi*
resources/assets/fonts/*
.qodo

data.ms
!.gitkeep
database/*.sqlite
custom-cli
*bun-build

.fleet
.idea
.stacks
.vscode
.zed
./test.ts
