@import './fonts.css';
@import './markdown.css';

:root {
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

.safe-bottom {
  padding-bottom: var(--safe-bottom);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f3f4f6;
}

#app {
  height: 100%;
}
